alias jeeves-edit-playbook="vi ~/github.com/kadinvanvalin/mac-dev-playbook/config.yml"
alias jeeves-run-playbook="cd ~/github.com/kadinvanvalin/mac-dev-playbook; ansible-playbook main.yml --ask-become-pass"
alias please='sudo $(fc -ln -1)'
alias java8="asdf shell java 1.8"
alias java12="asdf shell java 12"
alias ls="eza -a"
alias ll="eza -alh"
alias tree="eza --tree"
alias ts="tmux-sessionizer"
# alias la="ls -a"
# alias ll="ls -la"
function fzf_dir(){
	fd --type directory --exclude Library --max-depth 3 ^ ~/ | fzf --preview 'eza -aI ".git" --git --git-ignore --tree --long --level=2 {}'
}
function test(){
	selected_name=$(basename "$1" | tr . _);
	zellij attach -c $selected_name
		echo $1
}
alias zss='cd $(test $(zs))'
alias fvim='vim $(fzf_dir)'
alias fidea='idea $(fzf_dir)'
alias f='cd $(fzf_dir)'
alias zss='cd $(test $(zs))'
alias g="git"
function rmn {
	find . -type d -name node_modules -maxdepth 1 -exec rm -rf {} \+
}
alias win-help='bat ~/.amethyst.yml'


# Kill a process on a specified port
kill_port() {
	if [ -n "$1" ]
		then
			lsof -ti :"$1" | xargs kill -9
	else
		echo "Pass in the port number."
			fi
}




alias code=vim
alias clone=". dolly_INNER_clone_and_go.sh"
function branch-name {
	NAME=$(git branch | grep '*' | sed 's/* //')
						DESCRIPTION=$(git config branch."$NAME".description)
						TEXT=$(cat "$1" | sed '/^#.*/d')

		if [ -n "$TEXT" ]
			then
				echo "$NAME"': '$(cat "$1" | sed '/^#.*/d') > "$1"
				if [ -n "$DESCRIPTION" ]
					then
						echo "" >> "$1"
						echo $DESCRIPTION >> "$1"
						fi
				else
					echo "Aborting commit due to empty commit message."
						exit 1
						fi
}
