*.DS_Store
*.LSOverride
*iml
Thumbs.db
.bundle
.idea
.config/htop
.config/jgit
.colima
!.colima/colima.yml
.local/share
.config/coc/*
.config/configstore
.config/fish/fish_variables
.config/fish/config.fish.pysave
.config/neofetch/
.local/bin/access-aws.sh
.local/bin/aws-access
.local/bin/zellij-sessionizer
.local/state/
