"" Source your .vimrc
source ~/.vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq
" set background=dark   " darker color scheme
" set ruler             " show line number in bar
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" command shift-shift: IdeaVim TrackAction Ids
"" Map \r to the Reformat Code action
"" map \r <Action>(ReformatCode)
"" https://github.com/citizenmatt/dotfiles/blob/master/ideavimrc

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)


nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)



"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
nmap gD <Action>(GotoTypeDeclaration)
" Find more examples here: https://jb.gg/share-ideavimrc
set showmode

:command SO <Action>(IdeaVim.ReloadVimRc.reload)
